

    <link rel="stylesheet" type="text/css" href="../css/landing.css">
<body>
<div></div>
<div>
<h1 id="title" class="animated fadeInRightBig text-center">DateMaker</h1>
<div class="test">
<a href="#/main"><button id="enter-button" type="button" class="btn btn-default btn-transparent btn-lg center-block"> >Enter</button></a>
</div>
<p id="landingtext" class="text-center">An application that helps people find a good location to meet halfway.  DateMaker takes two addresses, calculates its midpoint, and then uses Yelp Data to make suggestions for a venue.  Users can additionally rate locations based on atmosphere.</p>
</div>

</body>
