@font-face {
  font-family: 'Squares';
  src: 
    url('../templates/fonts/Squares.otf')
    format('opentype');

}


#title-div {

  content: "";
  display: inline-block;
  width: 100%;
}
 
#title {
  font-family: 'Squares';
  font-size: 1100%;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.half {
    height: 50vh; 
}

.noYelp{
  col-xs-12
}

.angular-google-map-container { 
  height: 50vh; 
}

.listings {
  overflow-y: auto;
  height: 50vh;
}

